ion-button[color='dark']{
    text-transform: initial;
}


ion-content{
    --background:rgb(14, 62, 150);
}

btn-login{
    --background:rgb(14, 62, 150);
    --color:white;
}

ion-input.ng-dirty.ng-invalid{
    border: red 1px solid;
}